
/*正文上面的文字*/
.topTitle{
    display: flex;
    justify-content:space-around;
    margin:10px 0;
    font-size:14px;
    padding:0 15px;
}
.topTitle>div{
    width:50%;
}
.topTitle>div:nth-of-type(2){
    text-align: right;
}
.userList{
    height:calc(100% - 165px);
}
.userList>li span:nth-of-type(2){
    float: right;
}



